
#indexBtn{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 30%;
}

.container{
    margin-top: 10%;
    width: 90%;
    height: auto;
    overflow: auto;
}
.container img{
    max-height: 100%;
    max-width: 100%;
}
.left{
    width: 40%;
    float: left;
}
.right{
    overflow: auto;
    width: 40%;
    padding-top: 3%;
    float: right;
}
.msg{
    margin-top: 5%;
    float: left;
    width: 15%;
}


