#loginerror{
    color: crimson;
    font-weight: bold;
}
#successLogOut{
    color: forestgreen;
}
.container{
    width: 90%;
    height: auto;
    overflow: auto;
}
.container img{
    max-height: 100%;
    max-width: 100%;
}
.left{
    width: 25%;
    float: left;
}
.right{
    overflow: auto;
    width: 20%;
    padding-top: 3%;
    float: right;
}
.msg{
    margin-top: 5%;
    float: left;
    width: 10%;
}