<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Admin</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- ManyChat -->
    <script src="//widget.manychat.com/105197630914532.js" async="async"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        html {
            height: 100%;
        }
        body {
            min-height: 100%;
            background-color: azure;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a th:href="@{/check}" class="navbar-brand font-weight-bolder">UCCBOT</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">link1</a></li>
                <li class="nav-item"><a class="nav-link" href="#">link2</a></li>
                <li class="nav-item"><a class="nav-link" href="#">link3</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Kijelentkezés</a></li>
            </ul>
            <form method="post" action="#">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class=" btn dropdown-toggle nav-link" id="dropdown" data-toggle="dropdown">Személyes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item"><button class="btn" value="link"></button></a>
                            <a class="dropdown-item"><button class="btn" value="link"></button></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>
<div>
    <h1>Adminisztrátor oldala</h1>
</div>
</body>
</html>