<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log in</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <div class = "jumbotron jumbotron-fluid">
        <div>
            <h1 class="welcomeText"><strong>Jelentkezz Be!</strong></h1></br>
        </div>
            <div>
                <form name="loginform" th:action="@{/login}" action="login" method="post">
                    <div>
                        <input type="email"  name="username" placeholder="Email" />
                    </div>
                    <div>
                        <input type="password"  name="password" placeholder="Password" />
                    </div>

                    <!--<div class="form-group">
                        <label>
                            <input type="checkbox" name="remember-me"> Remember Me
                        </label>
                    </div>-->
                    <div>
                        <div>
                            <button type="submit">Bejelentkezés</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="loginerror" th:if="${param.error}">
                                <p>
                                    <span>Érvénytelen jelszó vagy felhasználónév</span>
                                </p>
                            </div>
                            <div th:if="${param.logout}">
                                <p>
                                    <span>You have been logged out.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
</div>
</body>
</html>