<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>

    <title>User Home</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/datepicker.js}"></script>
    <!-- ManyChat -->
    <script src="//widget.manychat.com/105197630914532.js" async="async"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a href="/welcome" class="navbar-brand font-weight-bolder">UCCBOT</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">linkek</a></li>
                <li class="nav-item"><a class="nav-link" href="#">linkek</a></li>
                <li class="nav-item"><a class="nav-link" href="#">linkek</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Kijelentkezés</a></li>
            </ul>
            <form method="post">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class=" btn dropdown-toggle nav-link"
                                            id="dropdown" data-toggle="dropdown">Személyes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Profile</a> <a
                                class="dropdown-item"><input class="btn" type="submit"
                                                             formaction="#" value="link"></a> <a class="dropdown-item"><input
                                class="btn" type="submit" formaction="" value="link"></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>
<div>
    <p>
        Üdvözöllek <span sec:authentication="principal.username"></span>
    </p>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h3>Ezt csak az admin látja</h3>
    <p>
        <a href="/admin/home">Admin Home</a>
    </p>
</div>


<!-- ELÉG CSAK A DB-BŐL FRISSÍTENI A KÉRELMET!! STÁTUSZ ZÖLD PIROS -->


<div>
    <p>Kérelem</p><a th:href="@{/request/check}"><button class="btn btn-primary">Frissítés</button></a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Felhasználónév</th>
                <th>Név</th>
                <th>Típus</th>
                <th>Kezdeti nap</th>
                <th>Utolsó nap</th>
                <th>Státusz</th>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <th>Válasz</th>
                </div>

            </tr>
        </thead>
        <tbody>
        <th:block th:each="request: ${allRequest}">
            <tr>
                <td th:text="${request.getId()}"></td>
                <td th:text="${request.getUsername()}"></td>
                <td th:text="${request.getName()}"></td>
                <td th:text="${request.getType()}"></td>
                <td th:text="${request.getStart_date()}"></td>
                <td th:text="${request.getEnd_date()}"></td>
                <td th:appclass="status${request.getStatus()}" th:text="${request.getStatus()}"></td>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/request/response}" method="post">
                            <input type="hidden" name="requestId" th:value="${request.getId()}">
                            <input class="btn" type="submit" name="action" th:value="Elutasítás">
                            <input class="btn" type="submit" name="action" th:value="Elfogadás">
                        </form>
                    </div>
                </td>

            </tr>
        </th:block>
        </tbody>
    </table>
    <p>Kérelem küldése</p><a th:href="@{/request/send}"><button class="btn">Küldés</button></a>
    <p th:text="${saved}"></p>
    <p th:text="${pri}"></p>
</div>
</body>
</html>