<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>

    <title>User Home</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
    <!-- ManyChat -->
    <script src="//widget.manychat.com/105197630914532.js" async="async"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a href="/welcome" class="navbar-brand font-weight-bolder">UCCBOT</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">linkek</a></li>
                <li class="nav-item"><a class="nav-link" href="#">linkek</a></li>
                <li class="nav-item"><a class="nav-link" href="#">linkek</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log Out</a></li>
            </ul>
            <form method="post">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class=" btn dropdown-toggle nav-link"
                                            id="dropdown" data-toggle="dropdown">Personal</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Profile</a> <a
                                class="dropdown-item"><input class="btn" type="submit"
                                                             formaction="#" value="link"></a> <a class="dropdown-item"><input
                                class="btn" type="submit" formaction="" value="link"></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>
    <p>
        Welcome <span sec:authentication="principal.username">User</span>
    </p>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h3>You will see this only if you are ADMIN</h3>
    <p>
        <a href="/admin/home">Admin Home</a>
    </p>
</div>

<div>
    <h3>Előkészített kérelem</h3><button class="btn" th:href="@{/request}">Frissítés</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Név</th>
            <th>ID</th>
            <th>Típus</th>
            <th>Kezdeti nap</th>
            <th>Utolsó nap</th>
            <th>Státusz</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${name}"></td>
                <td th:text="${id}"></td>
                <td th:text="${choicevalue}"></td>
                <td th:text="${startDateValue}"></td>
                <td th:text="${endDateValue}"></td>
                <td th:text="${statusValue}"></td>
            </tr>
        </tbody>
    </table>
</div>
    <p>
        <a th:href="@{/logout}">Logout</a>
    </p>
</div>
</body>
</html>