<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>

    <title>User Home</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
    <!-- ManyChat -->
    <script src="//widget.manychat.com/105197630914532.js" async="async"></script>

</head>

<body>
<button onclick="addDate()">Add meg a dátumot</button>
<div id="leker"></div>
<div>
    <p>
        Welcome <span sec:authentication="principal.authorities">User</span>
    </p>
    <p>
        <a th:href="@{/logout}">Logout</a>
    </p>
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <h3>You will see this only if you are ADMIN</h3>
        <p>
            <a href="/admin/home">Admin Home</a>
        </p>
    </div>
    <div>
        <p>Itt van a messenger chatbot</p>
    </div>
    <!-- ManyChat -->

    <form id="dateForm" name="dateForm">
            <label>Kezdeti nap</label><input id="startDate" type="date">
            <label>Utolsó nap</label><input id="endDate" type="date">
            <input type="radio" name="radio" value="leave">Szabadság
            <input type="radio" name="radio" value="sickpay">Táppénz
            <button id="dateBtn" onclick="addDate()">Küldés</button>
            <div id="invalidDate"></div>
        </form>
    </div>
</div>
</body>
</html>